h1, h2, h3 {
    font-family: serif;
    color: green;
}

p {
    color: green;
}

label {
    color: mediumpurple;
    font-family: "DejaVu Sans", serif;
}

nav > a{
    color: white;
}

a{
    font-size: 1.4em;
    color: blue;
}