{% extends 'mysite/base.html' %}

{% block content %}
	<h1>
		Simplex
	</h1>

	<form action="/index/" method="post">
		{% csrf_token %}
		<button type="submit">Duas restrições</button>
	</form>
	<form action="/simplex3/" method="post">
		{% csrf_token %}
		<button type="submit">Três restrições</button>
	</form>

	<p>
		<h2>
		Função Objetivo:
		</h2>
		<form action="/simplex/" method="post" >
			{% csrf_token %}

			<select id="maxmin" name="maxmin">
				<option selected id=Max">
					Max
				</option>
				<option id="Min">
					Min
				</option>
			</select>
			<input id="x1" type="text" name="x1">
			<label for="x1">.x1</label>
			+
			<input id="x2" type="text" name="x2">
			<label for="x2">.x2</label>
			<br>
			<h2>
				Restrições:
			</h2>
			<input id="r1x1" type="text" name="r1x1">
			<label for="r1x1">.x1</label>
			+
			<input id="r1x2" type="text" name="r1x2">
			<label for="r1x2">.x2</label>

			<select id="maiormenorR1" name="maiormenorR1">
				<option selected id=">=">
					>=
				</option>
				<option id="=">
					=
				</option>
				<option id="<=">
					<=
				</option>
			</select>

			<input id="b1" type="text" name="b1">
			<label for="b1"></label>

			<br><br>

			<input id="r2x1" type="text" name="r2x1">
			<label for="r2x1">.x1</label>
			+
			<input id="r2x2" type="text" name="r2x2">
			<label for="r2x2">.x2</label>
			<select id="maiormenorR2" name="maiormenorR2">
				<option selected id=">=">
					>=
				</option>
				<option id="=">
					=
				</option>
				<option id="<=">
					<=
				</option>
			</select>

			<input id="b2" type="text" name="b2">
			<label for="b2"></label>

			<br><br>

			<button type="submit" name="submit-btn">
				OK
			</button>
		</form>

	</p>
{% endblock %}